In [5]:
# Question 1
import pandas as pd
data=pd.read_csv("medical_records.csv")
df=pd.DataFrame(data)
print(df)
print()

#Checking Null values
print(df.isnull().sum())

#Fill Null values 
sugar_median=df['sugar_level'].median()
df['sugar_level']=df['sugar_level'].fillna(sugar_median)
print(df)
print(df.isnull().sum())
print()

#check outliers
print(df['bp'].value_counts())
print()

#Relace high as 140/90
df['bp'].replace('high','140/90',inplace=True)
print("\n",df)

print(df['bp'].value_counts())

#Average diagnosis cost
print(df.groupby('diagnosis')['visit_cost'].mean())

#Cleaned file save
#output_file = 'new_medical_records.csv'
#df.to_csv(output_file, index=False)

    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80          NaN        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90          NaN        3000
4        R105       P040        Asthma  130/85          NaN        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high          NaN        1500
117      R218       P063  Hypertension  140/90          NaN        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]

record_id       0
patient_id      0
diagnosis       0
bp              0
sugar_level    35
visit_cost      0
dtype: int64
    record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80        140.0        2500
2        R103       P098  Hypertension    high        140.0        3000
3        R104       P038        Asthma  140/90        140.0        3000
4        R105       P040        Asthma  130/85        140.0        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma    high        110.0        2500
116      R217       P033      Diabetes    high        140.0        1500
117      R218       P063  Hypertension  140/90        140.0        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension    high        180.0        1500

[120 rows x 6 columns]
record_id      0
patient_id     0
diagnosis      0
bp             0
sugar_level    0
visit_cost     0
dtype: int64

bp
high      34
140/90    33
130/85    32
120/80    21
Name: count, dtype: int64


     record_id patient_id     diagnosis      bp  sugar_level  visit_cost
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80        140.0        2500
2        R103       P098  Hypertension  140/90        140.0        3000
3        R104       P038        Asthma  140/90        140.0        3000
4        R105       P040        Asthma  130/85        140.0        1500
..        ...        ...           ...     ...          ...         ...
115      R216       P081        Asthma  140/90        110.0        2500
116      R217       P033      Diabetes  140/90        140.0        1500
117      R218       P063  Hypertension  140/90        140.0        2000
118      R219       P011  Hypertension  130/85        180.0        2500
119      R220       P013  Hypertension  140/90        180.0        1500

[120 rows x 6 columns]
bp
140/90    67
130/85    32
120/80    21
Name: count, dtype: int64
diagnosis
Asthma          2242.857143
Diabetes        2220.930233
Hypertension    2392.857143
Name: visit_cost, dtype: float64

C:\Users\kSaty\AppData\Local\Temp\ipykernel_11232\3910597476.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bp'].replace('high','140/90',inplace=True)

In [6]:
# Question 2
import pandas as pd
d=pd.read_csv("patient_details.csv")
df=pd.DataFrame(d)
print(df)
print()

#Checking Null values
print(df.isnull().sum())

#Fill Null values
#Handle Name
df['name'] = df['name'].fillna('Unknown')

# Handle Age:
#df['age'] = df['age'].abs()
age_median = df['age'].median()
df['age'] = df['age'].fillna(age_median)
print("\n",df)
print(df.isnull().sum()) 

#Find Outliers
print("\n",df['gender'].value_counts())
print("\n",df['height_cm'].value_counts())

#Replace Values
#(i)
print("\n",df['gender'].replace('Male','M',inplace=True))
print("\n",df['gender'].replace('Female','F',inplace=True))
print("\n",df['gender'].value_counts())

#(ii)
df['height_cm'] = pd.to_numeric(df['height_cm'], errors='coerce')
height_median = df['height_cm'].median()
df['height_cm'] = df['height_cm'].fillna(height_median)
print("\n",df)
print(df['height_cm'].value_counts())

#Convert City name to upperclass
df['city'] = df['city'].str.title()
print("\n",df)

#DateTime Format
df['admission_date'] = pd.to_datetime(df['admission_date'], format='mixed')
print("\n",df)

#Duplicates
print("Dup_Val.",df.duplicated().sum())
print(df.drop_duplicates(inplace=True))
print("\n",df)

#Cleaned file save
#output_file = 'new_patient_details.csv'
#df.to_csv(output_file, index=False)

    patient_id          name   age  gender     city admission_date height_cm
0         P001           NaN  25.0       F   mumbai     15/01/2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     2024/01/16       170
2         P003    Neha Singh  45.0       M   Mumbai     2024/01/16       150
3         P004    Neha Singh  60.0    Male  kolkata     15/01/2024       170
4         P005    Neha Singh  25.0    Male  kolkata     2024-01-15       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     2024-01-15       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai     2024-01-15       160
128       P009           NaN  45.0       M   Mumbai     2024-01-15       150
129       P010  Rahul Sharma  60.0  Female  Chennai     2024/01/16       150

[130 rows x 7 columns]

patient_id         0
name              23
age               24
gender             0
city               0
admission_date     0
height_cm          0
dtype: int64

     patient_id          name   age  gender     city admission_date height_cm
0         P001       Unknown  25.0       F   mumbai     15/01/2024       180
1         P002  Rahul Sharma  60.0       F    Delhi     2024/01/16       170
2         P003    Neha Singh  45.0       M   Mumbai     2024/01/16       150
3         P004    Neha Singh  60.0    Male  kolkata     15/01/2024       170
4         P005    Neha Singh  25.0    Male  kolkata     2024-01-15       180
..         ...           ...   ...     ...      ...            ...       ...
125       P006   Anita Verma  25.0       M   Mumbai     2024-01-15       150
126       P007    Neha Singh  25.0       F  kolkata     15/01/2024       150
127       P008     John Paul  60.0       F  Chennai     2024-01-15       160
128       P009       Unknown  45.0       M   Mumbai     2024-01-15       150
129       P010  Rahul Sharma  60.0  Female  Chennai     2024/01/16       150

[130 rows x 7 columns]
patient_id        0
name              0
age               0
gender            0
city              0
admission_date    0
height_cm         0
dtype: int64

 gender
F         38
M         37
Female    30
Male      25
Name: count, dtype: int64

 height_cm
170    30
abc    26
160    26
180    24
150    24
Name: count, dtype: int64

 None

 None

 gender
F    68
M    62
Name: count, dtype: int64

     patient_id          name   age gender     city admission_date  height_cm
0         P001       Unknown  25.0      F   mumbai     15/01/2024      180.0
1         P002  Rahul Sharma  60.0      F    Delhi     2024/01/16      170.0
2         P003    Neha Singh  45.0      M   Mumbai     2024/01/16      150.0
3         P004    Neha Singh  60.0      M  kolkata     15/01/2024      170.0
4         P005    Neha Singh  25.0      M  kolkata     2024-01-15      180.0
..         ...           ...   ...    ...      ...            ...        ...
125       P006   Anita Verma  25.0      M   Mumbai     2024-01-15      150.0
126       P007    Neha Singh  25.0      F  kolkata     15/01/2024      150.0
127       P008     John Paul  60.0      F  Chennai     2024-01-15      160.0
128       P009       Unknown  45.0      M   Mumbai     2024-01-15      150.0
129       P010  Rahul Sharma  60.0      F  Chennai     2024/01/16      150.0

[130 rows x 7 columns]
height_cm
170.0    56
160.0    26
180.0    24
150.0    24
Name: count, dtype: int64

     patient_id          name   age gender     city admission_date  height_cm
0         P001       Unknown  25.0      F   Mumbai     15/01/2024      180.0
1         P002  Rahul Sharma  60.0      F    Delhi     2024/01/16      170.0
2         P003    Neha Singh  45.0      M   Mumbai     2024/01/16      150.0
3         P004    Neha Singh  60.0      M  Kolkata     15/01/2024      170.0
4         P005    Neha Singh  25.0      M  Kolkata     2024-01-15      180.0
..         ...           ...   ...    ...      ...            ...        ...
125       P006   Anita Verma  25.0      M   Mumbai     2024-01-15      150.0
126       P007    Neha Singh  25.0      F  Kolkata     15/01/2024      150.0
127       P008     John Paul  60.0      F  Chennai     2024-01-15      160.0
128       P009       Unknown  45.0      M   Mumbai     2024-01-15      150.0
129       P010  Rahul Sharma  60.0      F  Chennai     2024/01/16      150.0

[130 rows x 7 columns]

     patient_id          name   age gender     city admission_date  height_cm
0         P001       Unknown  25.0      F   Mumbai     2024-01-15      180.0
1         P002  Rahul Sharma  60.0      F    Delhi     2024-01-16      170.0
2         P003    Neha Singh  45.0      M   Mumbai     2024-01-16      150.0
3         P004    Neha Singh  60.0      M  Kolkata     2024-01-15      170.0
4         P005    Neha Singh  25.0      M  Kolkata     2024-01-15      180.0
..         ...           ...   ...    ...      ...            ...        ...
125       P006   Anita Verma  25.0      M   Mumbai     2024-01-15      150.0
126       P007    Neha Singh  25.0      F  Kolkata     2024-01-15      150.0
127       P008     John Paul  60.0      F  Chennai     2024-01-15      160.0
128       P009       Unknown  45.0      M   Mumbai     2024-01-15      150.0
129       P010  Rahul Sharma  60.0      F  Chennai     2024-01-16      150.0

[130 rows x 7 columns]
Dup_Val. 10
None

     patient_id          name   age gender     city admission_date  height_cm
0         P001       Unknown  25.0      F   Mumbai     2024-01-15      180.0
1         P002  Rahul Sharma  60.0      F    Delhi     2024-01-16      170.0
2         P003    Neha Singh  45.0      M   Mumbai     2024-01-16      150.0
3         P004    Neha Singh  60.0      M  Kolkata     2024-01-15      170.0
4         P005    Neha Singh  25.0      M  Kolkata     2024-01-15      180.0
..         ...           ...   ...    ...      ...            ...        ...
115       P116     John Paul  30.0      F   Mumbai     2024-01-15      170.0
116       P117   Anita Verma  45.0      M    Delhi     2024-01-15      170.0
117       P118       Unknown  60.0      F    Delhi     2024-01-15      170.0
118       P119     John Paul  30.0      M   Mumbai     2024-01-16      160.0
119       P120    Neha Singh  30.0      M  Kolkata     2024-01-15      170.0

[120 rows x 7 columns]

C:\Users\kSaty\AppData\Local\Temp\ipykernel_11232\96515901.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  print("\n",df['gender'].replace('Male','M',inplace=True))
C:\Users\kSaty\AppData\Local\Temp\ipykernel_11232\96515901.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  print("\n",df['gender'].replace('Female','F',inplace=True))

In [10]:
# Question 3
#Merge dataframe medical_records & patient_details
import pandas as pd
d1=pd.read_csv("new_medical_records.csv")
df=pd.DataFrame(d1)
#print("\n",df)

d2=pd.read_csv("new_patient_details.csv")
df=pd.DataFrame(d2)
#print("\n",df)

#Merge both datasets
print("merged file")
merged_inner=pd.merge(d1,d2,on='patient_id',how='inner')
print("\n",merged_inner)
#Save file
#output_file = 'Merged_file.csv'
#merged_inner.to_csv(output_file, index=False)

merged file

     record_id patient_id     diagnosis      bp  sugar_level  visit_cost  \
0        R101       P013  Hypertension  120/80        140.0        2000
1        R102       P105      Diabetes  120/80        140.0        2500
2        R103       P098  Hypertension  140/90        140.0        3000
3        R104       P038        Asthma  140/90        140.0        3000
4        R105       P040        Asthma  130/85        140.0        1500
..        ...        ...           ...     ...          ...         ...
114      R216       P081        Asthma  140/90        110.0        2500
115      R217       P033      Diabetes  140/90        140.0        1500
116      R218       P063  Hypertension  140/90        140.0        2000
117      R219       P011  Hypertension  130/85        180.0        2500
118      R220       P013  Hypertension  140/90        180.0        1500

             name   age gender     city admission_date  height_cm
0       John Paul  25.0      F    Delhi     2024-01-15      170.0
1       John Paul  30.0      F   Mumbai     2024-01-15      170.0
2       John Paul  60.0      F  Kolkata     2024-01-15      170.0
3         Unknown  60.0      M   Mumbai     2024-01-16      170.0
4      Neha Singh  30.0      F  Chennai     2024-01-16      150.0
..            ...   ...    ...      ...            ...        ...
114  Rahul Sharma  45.0      F    Delhi     2024-01-15      170.0
115   Anita Verma  30.0      F   Mumbai     2024-01-15      150.0
116  Rahul Sharma  30.0      M    Delhi     2024-01-16      160.0
117  Rahul Sharma  25.0      M    Delhi     2024-01-15      170.0
118     John Paul  25.0      F    Delhi     2024-01-15      170.0

[119 rows x 12 columns]